# Project specific
enoncé.txt
Graphs/
virtual

# Virtual environments
env/
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/
eggs/
*.manifest
*.spec

# Model files
*.pkl
*.joblib

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db